{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>소프트웨어공학 ERP구현</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style_Web.css' %}">
    </head>

    <body>
        <div id="container">
            <div id="header">
                <h2>Header-logo_part</h2>
                    <div class="logo">
            <a href="{% url 'welcome' %}"><img src="{% static 'img/erp-system.png' %}" width="140" height="38"></a>
        </div>
        <h2>----logo-end----</h2></br>

        <h2>Header-login/signup_part</h2>
            <div class="h-item">
                <a href="{% url 'login' %}"><input type="submit" value="LogIn"></a>
                <a href="{% url 'signup' %}"><input type="submit" value="SignUp"></a>
            </div>
        <h2>----login/signup-end----</h2></br>
        </div>

        <div id="m-content">
            <h2>main_body</h2>
            <h2>ERP</h2>
            <h2>----main-end----</h2></br>
        </div>

        <div id="s-content">
            <h2>sub_body</h2>
            <h3>서브 바디</h3>
            <h2>----sub-end----</h2></br>
        </div>

        <div id="footer">
            <p>안양대학교 컴퓨터공학과 권용환</p>
        </div>
        </div>
    </body>
</html>