#mainContent {
  background-color: #fff;
  margin-top: 30px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
  padding-bottom: 10px;
  height: 280px;
}
#subContent {
  background-color: #fff;
  margin-top: 30px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
  padding-bottom: 10px;
  height: 280px;
}
